@import "font_3670069_15633lo89ml/iconfont.css";
body {
  background-color: #f5f7f9;
  padding: 0;
  margin: 0;
}
.page-nav-bar {
  background-color: #3296fa;
}
.page-nav-bar .van-nav-bar__title,
.page-nav-bar .van-icon {
  color: #fff;
}
